<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <rosparam file="$(find nav_pkg)/teb_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_pkg)/teb_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find nav_pkg)/teb_param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pkg)/teb_param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pkg)/teb_param/teb_local_planner_params.yaml" command="load" />
    </node>

</launch>